OPENAI_API_KEY=
SERPAPI_API_KEY=
OPENAI_SECONDARY_MODEL=gpt-5.4-mini-2026-03-17
OPENAI_FLIGHT_MODEL=gpt-5-mini-2025-08-07
OPENAI_WEATHER_MODEL=gpt-4o-mini
LANGSMITH_API_KEY=
LANGSMITH_PROJECT=trip planner
CORS_ORIGINS=http://localhost:3000
